body{
	width: 100%;
	height: 100%;
}
section{
	margin-top:0px;
}
/*Estilos cabecera*/
.cabecera{
	background:white;
	margin: auto;	
	margin-bottom:0px;
}
.fondo_cab{	
	background:#FAAC58;
	vertical-align: bottom;
}
.logo{
	height:100px;
	width: 120px;
}
.redessociales{
	margin-top: 50px;	
}
.menu{
	background:#D8D8D8;
	padding:0px;
	height:55px;
	margin-bottom:0px;
}
div{
	border: 1px solid transparent;
}
/*Estilos cuerpo*/
.contenido{
	background:#A9D0F5;	
	padding:0px;
	margin-top:0px;
}
.busqueda{	
	background:#D8D8D8;
}
.separacion{
	padding:10px;
}

@media (max-width:800px){	
	.menu{
		display: none;
	}
	.redessociales{
		margin-top: 0px;	
	}
}