div{
	border: 1px solid black;
}
body{
	background:#CEE3F6;
}
section{
	background:url(img/fondo.jpg) no-repeat center fixed;
	width: 100%;
	background-size: cover;
}
.contenedor_principal{
	background:#F2F2F2;
	opacity:0.8;
}