div{
	border: 1px solid transparent;
	padding:0px;
}
body{
	background:#5F9EA0;
}
section{
	background:url(../img/fondo.jpg) no-repeat center fixed;
	width: 100%;
	height:100vh;
	background-size: cover;
}
.contenedor_principal{
	background-color: rgba(24%,95%,84%,.5);
}
.color-texto{
	color:blue;
}
a:hover{
	color:green;
}